
/* All Data Start */
 *{ padding-left: 3px; }

 .center{ text-align: center; }
 .subject{
    margin-bottom: 20px;
 }



/* All Data End */


/*  Git Branch Start */

/*  Git Branch End */


/*  Div Start */

/*  Div End */